/* 스타일 공통*/
* {
    margin: 0;
    padding: 0;
    font: normal 12px "Noto Sans CJK KR";
  }
  
  ul, ol {
    list-style: none;
  }
  a {
    text-decoration: none;
    color: #111;
  }

  input,textarea {
    outline: none;
  }
  
  #container{
    width: 100%;

  }

  /*header*/
  header {
    width: 100%;
    height: 197px;
  }
  
  header > div {
    width: 100%;
    box-sizing: border-box;
  }
  
  header > .topMenu {
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
  }
  
  header > .topMenu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
  }
  
  header > .topMenu > div > a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
  }
  header > .topMenu > div > a:last-child {
    border-right: 1px solid #e9e9e9;
  }
  
  header > .topMenu > div > a:hover {
    color: #333;
    border-bottom: 1px solid #444;
  }
  
  header > .logo {
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
  }
  header > .logo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  header > .logo > div > a {
    display: inline-block;
    margin-top: 30px;
  }
  
  /*main*/
  main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
  }
  /*member*/

header {
  width: 100%;
  height: auto;
  background: #fff;
}

#member {
  padding: 60px 0;
  box-sizing: border-box;
}


/* member > .login */
#member > .login {
  width: 900px;
  height: auto;
  margin: 0 auto;
}
#member > .login > img[alt="banner"] {
  display: block;
  margin: 36px auto;
}

#member > .login > nav {
  border-bottom: 2px solid #0e6ad3;
}

#member > .login > nav > h1 {
  font-size: 24px;
  margin-bottom: 6px;
}

#member > .login > form {
  position: relative;
  width: 100%;
  height: 300px;
  margin-top: 10px;
  border-bottom: 1px solid #b3b3b3;
  padding-top: 60px;
  padding-left: 10px;
  box-sizing: border-box;
}

#member > .login > form > div {
  float: left;
  margin: 0 10px;
}

#member > .login > form > table {
  float: left;
  border-collapse: collapse;
  margin-right: 6px;
}
#member > .login > form > table tr {
}
#member > .login > form > table tr > td {
  padding: 2px;
}
#member > .login > form > table tr > td:nth-child(1) {
  font-size: 14px;  
}

#member > .login > form > table div {
  margin-top: 4px;
}

#member > .login > form > table input {
  width: 230px;
  height: 31px;
  padding: 0 13px;
  border: 0;
  font-size: 12px;  
  color: #0075d4;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  box-shadow: inset 0 0 10px #eee;
  box-sizing: border-box;
}

#member > .login > form > input[type="submit"] {
  float: left;
  width: 97px;
  height: 71px;
  background-image: url("../images/member_btn_login.gif");
  font-size: 0;
  border: none;
}
#member > .login > form > span {
  clear: left;
  display: block;
  margin-top: 100px;
  margin-left: 86px;
}
#member > .login > form > span a {
  display: inline-block;
  height: 13px;
  margin: 0;
  padding: 0 6px;
  color: #676767;
  border-left: 1px solid #999;  
}


#member > .login > form > span a:last-child {
}

#member > .login > form > .banner {
  position: absolute;
  right: 0;
  top: 16px;
}

#member > .login > form > span > label {
  left: 64px;
  bottom: -20px;
  color: #676767;  
  margin-right: 2px;
}

#member > .login > form > span > label > input[type="checkbox"] {
  margin-right: 4px;
}

#member > .login > form label > span {
  display: inline-block;
  width: 60px;
}

/*member-join*/
#member > .join{
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}

#member > .join > .wel{
  display: block ;
  margin: 10px auto;
}

#member > .join > .type{
  width: 100%;
  height: 200px;
  margin: 60px auto;
}
#member > .join > .type > div{
  width: 420px;
  height: 100%;
  border: 1px solid #d5d5d5;
  box-sizing: border-box;
  overflow: hidden;
}
#member > .join > .type > div > .text > a{
  float: right;
}
#member > .join > .type > div > .text {
  padding: 40px;
}
#member > .join .nomarl{
  float: left;
}
#member > .join .seller{
  float: right;
}
#member > .join .banner{
  display: block;
  margin-bottom: 20px;
}

/*member-signup*/
#member > .signup{
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}
#member > .signup > nav{
  border-bottom: 2px solid #0e6ad3;
}
#member > .signup > nav > h1{
  font-size: 24px;
  margin-bottom: 6px;
}
#member > .signup h3{
  font-size: 14px;
  margin-top: 26px;
  margin-bottom: 6px;
}
#member > .signup h3 > span.essential{
  color: #ef3f43;
  margin-right: 5px;
}
#member > .signup h3 > span.option{
  color: #01c1c4;
  margin-right: 5px;
}
#member > .signup textarea{
  width: 100%;
  height: 160px;
  margin-bottom: 10px;
  border: 1px solid #bababa;
  box-sizing: border-box;
  resize: none;
}
#member > .signup label{
  float: right;
  font-size: 14px;
}
#member > .signup input[type="checkbox"]{
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: bottom; /*수직정렬 bottom OR TOP 을주자 middle을 주면 좀 중구난방임*/
}
#member > .signup input.agree{
  display: block;
  background: #ef3f43;
  color: #fff;
  font-size: 20px;
  padding: 10px 72px;
  margin: 40px auto;
  border: 0;
  outline: 0;
  border-radius: 2px;


}

/*member-register*/
#member > .register{
  width: 900px;
  margin: 0 auto;
  box-sizing: border-box;
}

#member > .register > nav{
  border-bottom: 2px solid #0e6ad3;
}
#member > .register > nav >h1{
  font-size: 24px;
  margin-bottom: 6px;
}
#member > .register table{
  position: relative;
  width: 100%;
  table-layout: fixed;
  border-top: 1px solid #b6bdc7;
  border-collapse: collapse ;
  border-spacing: 0;
}
#member > .register table caption{
  text-align: left;
  font-size: 16px;
  padding-left: 10px;
  margin-top: 20px;
  margin-bottom: 12px;
  font-weight: 500;
}
#member > .register table th{
  width: 200px;
  padding: 20px 20px;
  vertical-align: top;
  background: #f4f6f9;
  font-weight: 500;
  text-align: left;
  line-height: 1.4;
  border-bottom: 1px solid #dfe5ed;
  word-break: break-word; /*단어 띄워쓰기*/
  font-size: 14px;
  font-weight: 500;
}
#member > .register table td{
  position: relative;
  vertical-align: middle;
  padding: 10px 20px;
  text-align: left;
  line-height: 1.4;
  border-bottom: 1px solid #dfe5ed;
  word-break: break-word; /*단어 띄워쓰기*/
  font-size: 14px;
  font-weight: 500;
}
#member > .register table input{
  padding: 0 8px;
  height: 31px;
  font-size: 14px;
  border: 1px solid #dfe5ed;
  vertical-align: middle;
}
#member > .register table label{
  display: inline-block;
  width: 60px;
  font-size: 17px;

}
#member > .register table .addr input{
  margin-top: 6px;
}
#member > .register table .addr th{
  padding-left: 30px;
}
#member > .register table .essential{
  color: #ef3f43;
  vertical-align: middle;
  margin-right: 5px;
}
#member > .register form input[type="submit"]{
  display: block;
  background: #ef3f43;
  color: #fff;
  font-size: 20px;
  padding: 10px 72px;
  margin: 40px auto;
  border-radius: 2px;
  cursor: pointer;
  outline: 0;
  border: 0;
}

  /*member-register-seller*/
  #member > .registerSeller{
    width: 900px;
    margin: 0 auto;
    box-sizing: border-box;
  }
  
  #member > .registerSeller > nav{
    border-bottom: 2px solid #0e6ad3;
  }
  #member > .registerSeller > nav >h1{
    font-size: 24px;
    margin-bottom: 6px;
  }
  #member > .registerSeller table{
    position: relative;
    width: 100%;
    table-layout: fixed;
    border-top: 1px solid #b6bdc7;
    border-collapse: collapse ;
    border-spacing: 0;
  }
  #member > .registerSeller table caption{
    text-align: left;
    font-size: 16px;
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 12px;
    font-weight: 500;
  }
  #member > .registerSeller table th{
    width: 200px;
    padding: 20px 20px;
    vertical-align: top;
    background: #f4f6f9;
    font-weight: 500;
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfe5ed;
    word-break: break-word; /*단어 띄워쓰기*/
    font-size: 14px;
    font-weight: 500;
  }
  #member > .registerSeller table td{
    position: relative;
    vertical-align: middle;
    padding: 10px 20px;
    text-align: left;
    line-height: 1.4;
    border-bottom: 1px solid #dfe5ed;
    word-break: break-word; /*단어 띄워쓰기*/
    font-size: 14px;
    font-weight: 500;
  }
  #member > .registerSeller table input{
    padding: 0 8px;
    height: 31px;
    font-size: 14px;
    border: 1px solid #dfe5ed;
    vertical-align: middle;
  }
  #member > .registerSeller table label{
    display: inline-block;
    width: 60px;
    font-size: 17px;
  
  }
  #member > .registerSeller table .addr input{
    margin-top: 6px;
  }
  #member > .registerSeller table .addr th{
    padding-left: 30px;
  }
  #member > .registerSeller table .essential{
    color: #ef3f43;
    vertical-align: middle;
    margin-right: 5px;
  }
  #member > .registerSeller form input[type="submit"]{
    display: block;
    background: #ef3f43;
    color: #fff;
    font-size: 20px;
    padding: 10px 72px;
    margin: 40px auto;
    border-radius: 2px;
    cursor: pointer;
    outline: 0;
    border: 0;
  }



  /*footer*/
footer{
    width: 100%;
    height: 192px;
    background: #f8f8f8;
    border-top: 1px solid #e9e9e9;
    box-sizing: border-box;
}

footer > ul {
    width: 1200px;
    height: 39px;
    margin: 0 auto;
    padding: 15px 0;
    border-bottom: 1px solid #e9e9e9;
    box-sizing: border-box;
    text-align: center;
}

footer > ul > li {
    display: inline-block;
    font-weight:  bold;
    border-right: 1px solid #d7d7d7;
    padding: 0 10px;
}

footer > ul > li:first-child{
    border-left: 1px solid #d7d7d7;
}
footer > ul > li > a{}

footer > div {
    width: 1200px;
    height: auto;
    padding-top: 20px;
    box-sizing: border-box;
    margin: 0 auto;
}

footer p{
    float: left;
    height: 100%;
    font-size: 11px;
    line-height: 15px;
    color:  #676767;
}

footer p:nth-of-type(2){
    width: 300px;
    margin-left: 30px;
    margin-right: 30px;
}

footer p > strong{
    display: inline-block;
    padding: 6px 15px 7px 0;
    color: #464646;
    font-size: 12px;
    font-weight: bold;
}
