        /* 전체 스타일 초기화 */
        *  {
            margin: 0;
            padding: 0;
            font: normal 12px '고딕';
            }
    
            ul, ol {list-style: none;}
            a {text-decoration: none; color: #111;}
    
            #admin-container {
                width: 100%;
                
            }
    
            header{
                width: 100%;
                height: 120px;
                background: url(../images/admin_bg_header.jpg) repeat-x;
    
            }
    
            header > div {
                width: 1400px;
                height: 100%;
                margin: 0 auto;
            
            }
            
    
            header > div > p {
                float: right;
                color: #fff;
                margin-top: 46px;
            }
    
            header > div > p > a {
                color: #fff;
            }
    
            header > div > p > span {
                margin-right: 16px;
            }
    
            header > div > .logo {
                float: left;
                margin-top: 46px;
            }
    
    
        /*admin index*/    
            main {
                width: 1400px;
                height: 767px;
                margin: 0 auto;
            }
    
            main > aside {
                float: left;
                width: 270px;
                height: auto;
                background: url('../images/admin_bg_aside.jpg') repeat-y;
                border-left: 1px solid #c0c0c0;
                box-sizing: border-box;
            }
    
    
            #gnb > li {
                width: 100%;
                min-height: 66px;
                border-top: 1px solid #c0c0c0;
                box-sizing: border-box;
            }
    
            #gnb > li:last-child {border-bottom: 1px solid #c0c0c0;}
    
            
    
            #gnb > li > a {
                display: block;
                width: 100%;
                height: 66px;
                font-size: 14px;
                font-weight: bold;
                color: #222;
                line-height: 66px;
                text-indent: 10px;
            }
    
            #gnb > li > a > i {
                margin-right: 10px;
                font-size: 20px;
            }
    
            #gnb ol > li > a {
                display: block;
                width: 100%;
                height: 100%;
                text-indent: 52px;
                line-height: 25px;
                margin-bottom: 10px;
            }
            
            
    
            main > section {
                float: right;
                width: 1130px;
                min-height: 600px;
                padding: 20px;
                box-sizing: border-box;
            }
    
            main > section > nav {
                position: relative;
                width: 100%;
                height: 46px;
                margin-bottom: 16px;
                border-bottom: 1px solid #c0c0c0;
                box-sizing: border-box;
            }
    
    
            main > section > nav > h3 {
                position: absolute;
                left: 0;
                bottom: 10px;
                font-size: 20px;
                font-weight: bold;
            }
    
            main h4 {
                font-size: 15px;
                font-weight: bold;
            }
    
            main > section > nav > p {
                position: absolute;
                right: 0;
                bottom: 10px;
            }
    
    
    
            main > section > nav > p > strong {
                font-weight: bold;
            }
    
            main > section > article section {
                margin-bottom: 16px;
            }
            main > section > article section > p {
                background: #eaeaea;
                padding: 10px;
                margin: 10px 0;
                box-sizing: border-box;
            }
    
            main table {
                width: 100%;
                border-collapse: collapse;
            }   
            
    
            main table tr > td:nth-child(1) {
                width: 160px;
                border-top: 1px solid #e6e6e6;
                border-bottom: 1px solid #e6e6e6;
                background: #f6f6f6;
                padding: 10px;    
                text-align: left;
            }
            
            
    
            #admin-index > article {
                width: 1090px;
                height: auto;
                overflow: hidden;
            }
    
            #admin-index > article > table {
                width: 100%;
                margin-top: 6px;
                margin-bottom: 16px;
                border-collapse: collapse;
                border-top: 2px solid #8798a3;
            }
    
            #admin-index > article > table tr:first-child {
                background: #fafafa !important;
            }
    
            #admin-index > article > table tr > td {
                width: 20%;
                border: 1px solid #e5e5e5;
                padding: 6px 6px 6px 12px;
                color: #111;
                text-align: center;
            }
    
            
            #admin-index > article > table tr > td > strong {
                display: block;
                font-size: 16px;
                font-weight: bold;
                padding-top: 10px;
            }
    
            #admin-index > article > table tr > td > span {
                display: block;
                padding: 16px;
                font-size: 16px;
                font-weight: bold;
                color: #bc2e13;
            }
    
            #admin-index > article > table tr > td > p {
                padding: 6px;
                overflow: hidden;
            }
    
            #admin-index > article > table tr > td > p > span {
                font-size: 14px;
            }         
    
           
            
    
            #admin-index > article > table tr > td > p > span:nth-child(1) {float: left;}
    
            #admin-index > article > table tr > td > p > span:nth-child(2) {float: right;}
    
            #admin-index > article > table tr > td > p {
                padding: 6px;
                overflow: hidden;
            }
    
    
            #admin-index > div > div {
                width: 49%;
                height: auto;
            }
    
    
            #admin-index > div > div > article {
                width: 100%;
                height: 165px;
                margin-top: 6px;
                margin-bottom: 16px;
                border: 1px solid #e5e5e5;
                border-top: 2px solid #8798a3;
                padding: 16px;
                box-sizing: border-box;
            }
    
    
            #admin-index > div > div > article > p > span {
                line-height: 26px;
            }
    
            #admin-index > div > div:nth-child(1) {
                float: left;
            }   
    
    
            #admin-index > div > div:nth-child(2) {
                float: right;
            }   
    
            #admin-index > div > div > article > p > span:nth-child(1) {
                float: left;
                display: block;
                width: 400px;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-align: left;
                overflow: hidden;
            }
    
    
    
            #admin-index > div > div > article > p > span:nth-child(2) {
                float: right;
            }
    
    
    
    
            footer {
                width: 100%;
                height: 60px;
                background: #0d3a46;
                clear: both;
            }
    
            footer > div {
                width: 1400px;
                height: 100%;
                margin: 0 auto;
            }
    
            footer > div > p {
                padding-top: 22px;
                color: #fff;
                font-weight: bold;
                box-sizing: border-box;
            }
    
    