/* main */
main {
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}

/*상품 목록*/
main > section {
    float: right;
    width: 985px;
    height: auto;
    box-sizing: border-box;
}
#product > section {
    padding: 16px;
    box-sizing: border-box;
}
#product > section > nav {
    width: 100%;
    height: 36px;
    margin-bottom: 20px;
    border-bottom: 1px solid #000;
    box-sizing: border-box;
}
#product > section > nav > h1 {
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    padding: 0 0 7px;
    line-height: 1em;
}
#product > section > nav > p {
    float: right;
    margin-top: 10px;
}
#product > .list > .sort {
    margin: 0 0 20px 0;
    border-top: 2px solid #111;
    border-bottom: 1px solid #dfdfdf;
    overflow: hidden;
}
#product > .list > .sort > li {
    float: left;
    position: relative;
    padding: 15px 0;
    line-height: 15px;
}
#product > .list > .sort > li > a {
    display: block;
    padding: 0 10px;
    border-right: 1px solid #ddd;
}
#product > .list > .sort > li > a.on {
    font-weight: bold;
}
#product > .list > table {
    width: 100%;
    height: auto;
    border-collapse: collapse;
}
#product > .list > table tr {
    border-bottom: 1px solid #ececec;
}
#product > .list > table tr > td:nth-child(1) {
    width: 20%;
    padding: 0;
}
#product > .list > table .thumb {
    display: block;
    width: 100%;
    height: 100%;
}
#product > .list > table .thumb > img {
    width: 120px;
}
#product > .list > table tr > td:nth-child(2) {
    width: 40%;
}
#product > .list > table .name {
    font-size: 16px;
    font-weight: bold;
    color: #111;
    margin-bottom: 6px;
}
/* 상품설명
#product > .list > table .desc {
    font-size: 12px;
    color: #333;
}
#product > .list > table .desc:hover {
    text-decoration: underline;
}
*/
#product > .list > table tr > td:nth-child(3) {
    width: 20%;
    padding-left: 30px;
}
#product > .list > table .dis-price::after {
    content: "원";
}
#product > .list > table .dis-price {
    font-size: 16px;
    text-decoration: none;
}
#product > .list > table .org-price {
    font-size: 12px;
    color: #aaa;
}
#product > .list > table .discount {
    color: #eb000a;
    font-size: 10px;
}
#product > .list > table .discount::after {
    content: "↓";
}
#product > .list > table .free-delivery {
    display: inline-block;
    font-size: 0;
    vertical-align: text-bottom;
    width: 55px;
    height: 13px;
    background: url("../images/ico_free_delivery.gif") no-repeat;
    margin-top: 4px;
}
#product > .list > table tr > td:nth-child(4) {
    width: 20%;
}
#product > .list > table .seller {
    font-size: 12px;
    margin-bottom: 6px;
}
.fa, .fas {
    font-weight: 900;
}
#product .badge.power {
    background-image: url("../images/ico_power_dealer.gif");
}
#product .badge {
    font-size: 0;
    width: 80px;
    height: 19px;
    background-repeat: no-repeat;
}
#product > .list > table .rating {
    margin-top: 12px;
}
#product h6.rating {
    font-size: 11px;
    background-image: url("../images/rating_star.png");
    background-repeat: no-repeat;
    background-position: 36px 0px;
    background-size: auto 100%;
}
#product h6.rating.star0 { opacity: 0; }
#product h6.rating.star1 { width: 52px; }
#product h6.rating.star2 { width: 64px; }
#product h6.rating.star3 { width: 78px; }
#product h6.rating.star4 { width: 92px; }
#product h6.rating.star5 { width: 100%; }

/* View */
.view > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.info > div {
    float: left;
    width: 50%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
}
.summary > nav {
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 10px;
    margin-bottom: 12px;
    overflow: hidden;
}
.summary > nav > h1 {
    float: left;
    color: #0231a6;
    font-weight: bold;
    font-size: 1.5em;
}
.summary > nav > h2 {
    float: right;
    color: #777;
    margin-top: 8px;
}
.summary > nav > h3 {
    font-size: 18px;
    font-weight: bold;
    color: #1e2732;
}
.summary > nav > p {
    font-size: 14px;
    color: #474747;
    line-height: 36px;
    letter-spacing: -1px;
}
#product h5.rating {
    width: 150px;
    height: 20px;
    font-size: 0px;
    background-image: url("../images/ico_rating_star.png");
    background-repeat: no-repeat;
    text-indent: 86px;
}
#product h5.rating.star1 {background-position: 0 -40px;}
#product h5.rating.star2 {background-position: 0 -80px;}
#product h5.rating.star3 {background-position: 0 -120px;}
#product h5.rating.star4 {background-position: 0 -160px;}
#product h5.rating.star5 {background-position: 0 -200px;}

.summary .rating > a {
    color: #346aff;
    text-decoration: underline;
}
.summary .org_price > del {
    font-size: 18px;
    color: #aaa;
}
.summary .org_price > del::after {
    content: "원";
}
.summary .org_price > span {
    color: rgb(235, 0, 10);
    font-size: 16px;
    margin-left: 6px;
}
.summary .org_price > span::after {
    content: "↓";
}
.summary .dis_price > ins {
    font-size: 26px;
    font-weight: bold;
    text-decoration: none;
}
.summary .dis_price > ins::after {
    content: "원";
}
.summary .delivery {
    font-size: 16px;
    color: #2e8de5;
}
.summary .arrival {
    font-size: 14px;
    margin-left: 10px;
}
.summary .desc {
    display: block;
    color: #aaa;
}
#product > .view > .info > .summary .card > i {
    display: inline-block;
    width: 30px;
    height: 18px;
    top: 4px;
    font-size: 0;
    vertical-align: text-top;
    margin-right: 2px;
}
.summary .cardfree > i { background-position: -126px 0; }
.summary .cardadd > i { background-position: -51px -21px; }
.summary .origin { font-size: 16px; }
.summary .banner { width: 100%; }
.summary .count {
    position: relative;
    width: 100px;
    height: 40px;
}
.summary .count > button {
    position: absolute;
    width: 21px;
    height: 21px;
    background-image: url("../images/ico_sprites.png");
    font-size: 0;
    background-color: transparent;
    border: none;
}
.summary .count > .decrease {
    left: 0;
    top: 0;
    background-position: 0px -74px;
}
.summary .count > input[name=num] {
    position: absolute;
    left: 30px;
    top: 0;
    width: 30px;
    height: 21px;
    border: 1px solid #ececec;
    font-size: 14px;
    text-align: center;
}
.summary .count > .increase {
    left: 70px;
    top: 0;
    background-position: -48px -74px;
}
.summary .total {
    overflow: hidden;
    margin-top: 16px;
}
.summary .total > span {
    float: right;
    line-height: 38px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: right;
    letter-spacing: -0.5px;
}
.summary .total > span::after {
    content: "원";
}
.summary .total > em {
    float: right;
    display: block;
    width: 100px;
    height: 22px;
    padding: 10px 0 0;
    font-size: 16px;
    line-height: 22px;
    color: #5e636d;
    letter-spacing: -1px;
}
.summary > .button {
    overflow: hidden;
    margin-top: 16px;
}
.summary > .button > input {
    float: left;
    width: 49%;
    height: 50px;
    margin: 2px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 2px;
    cursor: pointer;
}
.summary > .button > .cart {
    background: #fff;
    border: 1px solid #d9d9d9;
    color: #233549;
}
.summary > .button > .order {
    background: #2e8de5;
    border: 1px solid #217fd7;
    color: #fff;
}

/* 상품 정보 */
.view > article > nav {
    border-bottom: 1px solid #a4a9b0;
    padding: 6px 0;
    margin-bottom: 12px;
    overflow: hidden;
}
.view > article > nav > h1 {
    float: left;
    color: #1e2732;
    font-weight: bold;
    font-size: 1.5em;
}
.view > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
.view > article > nav > p {
    float: left;
    color: #777;
    margin-top: 6px;
    margin-left: 6px;
}
.view > .notice > table { width: 100%; }
.view > .notice > table tr > td {
    padding: 5px 0 6px 21px;
    font-size: 14px;
    color: #777;
}
.view > .notice > table tr > td:nth-child(1) {
    width: 20%;
    color: #222;
}
.view > .notice > table:nth-of-type(2) { border-top: 1px solid #ececec; }
.view > .notice > .notice {
    margin: 20px 0;
    padding: 21px 26px 20px 19px;
    line-height: 20px;
    font-size: 14px;
    color: #757c8a;
    background: #fafafa;
    border-radius: 2px;
    white-space: normal;
}
.view > article {
    width: 100%;
    height: auto;
    overflow: hidden;
}
/* 상품 리뷰 */
.view > .review > ul {
    padding: 10px;
    box-sizing: border-box;
}
.view > .review > ul > li {
    padding-top: 16px;
    border-bottom: 1px solid #ececec;
    box-sizing: border-box;
}
.view > .review > ul > li > div { overflow: hidden; }
.view > .review > ul > li > div > h5 { float: left; }
.view > .review > ul > li > div > span {
    float: right;
    color: #555;
}
.view > .review > ul > li > h3 {
    color: #555;
    margin-top: 6px;
}
.view > .review > ul > li > p {
    width: 100%;
    height: 60px;
    color: #555;
    font-size: 14px;
    line-height: 19px;
    word-break: break-all;
    word-wrap: break-word;
    margin-top: 10px;
}

/* Cart 장바구니 */
.cart > form > table {
    width: 100%;
    border-bottom: 1px solid #d3d3d3;
    border-collapse: collapse;
    border-spacing: 0;
}
.cart > form > table tr {
    border-bottom: 1px solid #d3d3d3;
}
.cart > form > table th {
    padding: 12px 0;
    border-top: 2px solid #000;
    border-bottom: 1px solid #d3d3d3;
    background: #fff;
    color: #383838;
    font-size: 0.95em;
    text-align: center;
    letter-spacing: -0.1em;
}
.cart > form > table th:first-child { width: 60px; }
.cart > form > table .empty { display: none; }
.cart > form > table .empty td {
    padding: 50px 0 !important;
    text-align: center;
    color: #777 !important;
}
.cart > form > table td:last-child {
    color: #ff006c;
    font-weight: bold;
}
.cart > form > table td { text-align: center; }
.cart > form > table td > article {
    padding: 6px;
    overflow: hidden;
}
.cart > form > table td > article > a { float: left; }
.cart > form > table article img { width: 80px; }
.cart > form > table td > article > div {
    float: left;
    margin-left: 10px;
}
.cart > form > table td > article > div > h2 { text-align: left; }
.cart > form > table td > article > div > p {
    text-align: left;
    color: #777;
    margin-top: 4px;
}
.cart > form > input[name=del] {
    border-color: #bdbdbd;
    border-bottom-color: #828282;
    background: #fafafa;
    color: #4d4d4d;
    padding: 6px 11px;
    border-width: 1px;
    margin-top: 6px;
}
.cart > form > .total {
    float: right;
    width: 360px;
    height: 412px;
    padding: 20px;
    margin-top: 12px;
    background: #fff;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
.cart > form > .total > h2 {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #111;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: #1e1e1e;
}
.cart > form > .total > table { width: 100%; }
.cart > form > .total > table td {
    padding: 10px 0;
    font-size: 14px;
    color: #555;
}
.cart > form > .total > table td:last-child { text-align: right; }
.cart > form > .total > table tr:nth-last-child(1) td { font-size: 20px; }
.cart > form > .total > table tr:nth-last-child(1) td:last-child {
    color: #ff006c;
    font-size: 20px;
    font-weight: bold;
}
.cart > form > .total > input[type=submit] {
    width: 100%;
    height: 56px;
    font-size: 26px;
    border-width: 1px;
    border-color: #d81818;
    border-bottom-color: #9e1212;
    background: #ed2f2f;
    background-image: -webkit-linear-gradient(#ed2f2f, #dd0e0e);
    color: #fff;
    box-sizing: border-box;
    margin-top: 10px;
}

/* Order 주문결제 */
.order > form > table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #000;
}
.order > form > table tr {
    border-bottom: 1px solid #d3d3d3;
}
.order > form > table th {
    padding: 12px 0;
    background: #fff;
    color: #383838;
    font-size: 0.95em;
    text-align: center;
    letter-spacing: -0.1em;
}
.order > form > table .empty { display: none; }
.order > form > table td:last-child {
    color: #ff006c;
    font-weight: bold;
}
.order > form > table tr { border-bottom: 1px solid #d3d3d3; }
.order > form > table td { text-align: center; }
.order > form > table td > article {
    overflow: hidden;
    padding: 6px;
}
.order > form > table td > article > a { float: left; }
.order > form > table article img { width: 80px; }
.order > form > table td > article > div {
    float: left;
    margin-left: 10px;
}
.order > form > table td > article > div > h2 { text-align: left; }
.order > form > table td > article > div > p {
    text-align: left;
    color: #777;
    margin-top: 4px;
}
.order > form > .final {
    float: right;
    width: 360px;
    height: 412px;
    padding: 20px;
    margin-top: 12px;
    background: #fff;
    border: 1px solid #d3d3d3;
    box-sizing: border-box;
}
.order > form > .final > h2 {
    width: 100%;
    font-weight: bold;
    font-size: 16px;
    border-bottom: 1px solid #111;
    margin-bottom: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    color: #1e1e1e;
}
.order > form > .final > table { width: 100%; }
.order > form > .final > table td {
    padding: 10px 0;
    font-size: 14px;
    color: #555;
}
.order > form > .final > table td:last-child { text-align: right; }
.order > form > .final > table tr:nth-last-child(1) td { font-size: 20px; }
.order > form > .final > table tr:nth-last-child(1) td:last-child {
    color: #ff006c;
    font-size: 20px;
    font-weight: bold;
}
#product > .order > form > .final > input[type=button] {
    width: 100%;
    height: 56px;
    font-size: 26px;
    border-width: 1px;
    border-color: #d81818;
    border-bottom-color: #9e1212;
    background: #ed2f2f;
    background-image: -webkit-linear-gradient(#ed2f2f, #dd0e0e);
    color: #fff;
    box-sizing: border-box;
    margin-top: 10px;
}
.order > form > article {
    width: 560px;
    height: auto;
    margin-top: 16px;
}
.order > form > article > h1 {
    font-weight: bold;
    font-size: 14px;
    padding: 6px 0;
    margin-bottom: 12px;
    border-bottom: 1px solid #111;
}
.order > form > .delivery > table { margin-top: 10px; }
.order > form > .delivery > table tr > td:nth-child(1) { padding: 6px; }
.order > form input {
    color: #555;
    padding: 2px 0;
    border: 1px solid #999;
    box-sizing: border-box;
}
.order > form > .delivery > table input[type=button] {
    padding: 4px 6px;
    border: 1px solid #ccc;
    background-color: #F0F4F9;
    border-color: #acc0e0;
    color: #3371C9;
    outline: none;
}
.order > form > .delivery > table input[name=addr1] { width: 400px; }
.order > form > .delivery > table input[name=addr2] { width: 400px; }
.order > form > .discount > div { overflow: hidden; }
.order > form > article > div {
    padding: 6px;
    box-sizing: border-box;
}
.order > form > .discount > div > p { float: left; }
.order > form > .discount > div > label { float: right; }
.order > form > .discount > div > label > input[type=text] {
    display: inline-block;
    outline: none;
}
.order > form > .discount > div > label > input[type=button] {
    padding: 4px 6px;
    border: 1px solid #ccc;
    background-color: #F0F4F9;
    border-color: #acc0e0;
    color: #3371C9;
    outline: none;
}
.order > form > .discount > div > span {
    display: block;
    margin-top: 20px;
    color: #888;
}
.order > form > .payment > div { margin-bottom: 10px; }
.order > form > .payment > div > span {
    display: inline-block;
    color: #3a85c8;
    margin: 6px 0;
}
.order > form > .payment > div label { margin-right: 16px; }
.order > form > .payment > div input {
    vertical-align: bottom;
    margin-right: 4px;
}
.order > form > .alert {
    width: 560px;
    background-color: #f7f7f7;
    padding: 6px;
    padding-left: 20px;
    color: #999;
    box-sizing: border-box;
}
.order > form > .alert > ul {
    list-style: inherit;
}
.order > form > .alert > ul > li {
    line-height: 20px;
}
.order > form > .alert > ul > li > span {
    position: relative;
    left: -6px;
}

/* Complete 주문완료 */
.complete > article { margin-top: 16px; }
.complete > .message > h2 {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
    color: #555;
    padding: 10px;
}
.complete > .message > h2 > i { font-size: 26px; }
.complete > .message > p {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
}
.complete > article > h1 {
    font-weight: bold;
    font-size: 14px;
    color: #111;
    padding: 6px 0;
}
.complete table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    border-top: 2px solid #000;
}
.complete table tr {
    border-bottom: 1px solid #d3d3d3;
}
.complete > .info > table tr > th {
    padding: 12px 0;
    background: #fff;
    color: #383838;
    font-size: 0.95em;
    text-align: center;
    letter-spacing: -0.1em;
}
.complete > .info table tr > td > article {
    overflow: hidden;
    padding: 6px;
}
.complete > .info table tr > td img {
    float: left;
    width: 80px;
}
.complete > .info table tr > td div {
    float: left;
    margin-left: 10px;
    text-align: left;
}
.complete > .info table tr > td div > p {
    text-align: left;
    color: #777;
    margin-top: 4px;
}
.complete > .info table tr > td { text-align: center; }
.complete > .info table tr > td:last-child {
    color: #ff006c;
    font-weight: bold;
    text-align: right;
}
.complete > .info table tr > td { text-align: center; }
.complete > .info .total > td > table { border: none; }
.complete > .info .total > td > table tr { border: none; }
#product > .complete > .info .total > td > table td {
    text-align: right;
    color: #111;
    background: #f2f2f2;
    font-weight: normal;
    border-bottom: none;
    padding: 10px;
    box-sizing: border-box;
}
.complete > .info .total > td > table tr:last-child span {
    font-weight: bold;
    color: #ff006c;
}
.complete > .order table tr > td:nth-child(1) {
    width: 160px;
    background: #f2f2f2;
}
.complete > .order table tr > td {
    padding: 10px;
    box-sizing: border-box;
}
.complete > .order table tr > td:nth-child(2) { width: auto; }
.complete > .order table tr > td:nth-child(3),
.complete > .order table tr > td:nth-child(4) {
    width: 100px;
    text-align: right;
    vertical-align: top;
    background: #f2f2f2;
}
.complete > .order table span {
    font-weight: bold;
    color: #ff006c;
}
.complete > .delivery table tr > td:nth-child(1) {
    width: 160px;
    background: #f2f2f2;
}
.complete > .delivery table tr > td {
    padding: 10px;
    box-sizing: border-box;
}
.complete > .delivery table tr > td:nth-child(3) {
    width: 200px;
    background: #f2f2f2;
}
.complete > .alert {
    width: 100%;
    background-color: #f7f7f7;
    padding: 10px;
    padding-left: 24px;
    color: #999;
    box-sizing: border-box;
}
.complete > .alert > h1 { margin-left: -12px; }
.complete > .alert > ul { list-style: inherit; }
.complete > .alert > ul > li { line-height: 20px; }
.complete > .alert > ul > li > span {
    position: relative;
    left: -6px;
}
.prod-thumb1{
	width: 120px;
	height: 120px;
}

#product .hidden{
	display: none;
}
