/* 초기화 */
*{
  margin: 0;
  padding: 0;
  font: normal 12px '돋움';
}
ul, ol {list-style: none;}
a {text-decoration: none; color: #111;}

/* header */
header {
    width: 100%;
    height: 197px;
  }
  header > div {
    width: 100%;
    box-sizing: border-box;
  }
  header > .top {
    height: 35px;
    border-bottom: 1px solid #e9e9e9;
  }
  header > .top > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
    text-align: right;
  }
  header > .top > div > a {
    display: inline-block;
    height: 100%;
    line-height: 35px;
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
    color: #646464;
  }
  header > .top > div > a:last-child {
    border-right: 1px solid #e9e9e9;
  }
  header > .top > div > a:hover {
    color: #333;
    border-bottom: 1px solid #444;
  }
  header > .logo {
    height: 115px;
    border-bottom: 1px solid #e9e9e9;
  }
  header > .logo > div {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  header > .logo > div > a {
    display: inline-block;
    margin-top: 30px;
  }
  header > .logo > div > form {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -185px;
    margin-top: -22px;
    display: inline-block;
    width: 370px;
    height: 45px;
  }
  header > .logo > div > form > input {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 30px;
    box-sizing: border-box;
  }
  header > .logo > div > form > button {
    position: absolute;
    right: 6px;
    top: 10px;
    background: #fff;
    border: none;
    font-size: 20px;
    color: #333;
    outline: none;
  }
  header > .menu {
    height: 46px;
    background: #f2f2f2;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
  }
  header > .menu > div {
    width: 1200px;
    height: 100%;
    margin: 0 auto;
  }
  header > .menu > div > ul {
    display: inline-block;
    margin-top: 16px;
}
  header > .menu > div > ul:nth-child(1) { float: left; }
  header > .menu > div > ul:nth-child(2) { float: right;}
  header > .menu > div > ul > li { float: left; }
  header > .menu > div > ul > li > a {
    border-left: 1px solid #e9e9e9;
    padding: 0 10px;
  }
  header > .menu > div > ul > li:last-child > a {
    border-right: 1px solid #e9e9e9;
  }

/* 카테고리 */
main > aside {
    float: left;
    width: 215px;
    height: 100%;
}
main > aside > .category {
  position: relative;
  width: 100%;
  height: 425px;
  background: #333949;
}
main > aside > .category > li:first-child {
  padding: 0 20px;
  color: #fff;
  line-height: 40px;
}
main > aside > .category > li:not(:first-child):hover {
  background: #2b313f;
}
main > aside > .category > li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  color: #ccc;
  font-size: 13px;
  border-bottom: 1px solid #2c3752;
  box-sizing: border-box;
}
main > aside > .category > li > a {
  display: block;
  padding: 0 20px;
  line-height: 40px;
  color: #ccc;
  text-decoration: none;
  font-size: 1em;
}
main > aside > .category i {
  width: 22px;
  font-size: 16px;
  margin-right: 12px;
}
main > aside > .category ol {
  position: absolute;
  left: 215px;
  top: 0;
  display: none;
  width: 215px;
  height: 100%;
  border: 1px solid #787f89;
  background: #fff;
  box-sizing: border-box;
  z-index: 10000;
}
main > aside > .category ol > li {
  width: 100%;
  height: 24px;
  padding: 10px;
  box-sizing: border-box;
}
main > aside > .category li:hover ol {
  display: block;
}
main > aside > .category ol li {
  padding: 10px;
  color: #000;
}
main > aside > .category ol > li > a:hover {
  color : #41ab47;
  text-decoration: underline;
}

/* 상단이동버튼 */
#top {
    position: fixed;
    left: 50%;
    bottom: 10px;
    margin-left: 600px;
    width: 42px;
    height: 42px;
    background-image: url("../images/top.png");
    border: none;
    font-size: 0;
    cursor: pointer;
  }

  /* 페이지 번호 */
.paging {
  width: 100%;
  padding: 30px 0;
  text-align: center;
}
.paging > span > a {
  color: #777;
  font-size: 11px;
  letter-spacing: -1px;
}
.paging > .num > a.on {
  color: #fe434c;
  font-weight: bold;
}
.paging > .num > a {
  display: inline-block;
  min-width: 14px;
  margin: 0 2px;
  padding: 8px 9px;
  border: 1px solid #c4c4c4;
  color: #000;
  font-size: 12px;
  text-align: center;
  text-decoration: none;
}
.paging > .num > a:hover {
  border: 1px solid black;
}
.next:hover, .prev:hover {
  text-decoration: underline;
}
